@using OnlineBookShop.Core.Lib

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        li{
            margin-left: 2px;
        }
    </style>
</head>
<body style="background-color: #f4f4f4;">
    <div class="nav clearfix" style="margin:5px;">
        <div class="alert alert-success" style="text-align:center">Place for advertisement</div>
        <div class="container">
            <div class="row">
                <div class="navbar-header col-md-7">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="~/" class="navbar-brand text-muted logo">OnlineBookShop</a>
                </div>
                <div class="navbar-collapse collapse col-md-3">
                    <ul class="nav navbar-nav" style="float:right;">
                        <li>@Html.ActionLink("Thể loại sách", "", "Home")</li>
                        <li>@Html.ActionLink("Thông tin", "", "Home")</li>
                        @{
                            var user = Session["USER_SESSION"];
                            if (user != null)
                            {
                                <li>@Html.ActionLink("Đăng xuất", "Logout", "User")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Đăng nhập", "Login", "User")</li>
                            }
                        }
                        <li>
                            <a class="btn btn-default btn-sm" style="font-size:15px"
                               href="@Url.Action("Cart","Cart")">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Giỏ hàng
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="container body-content">

        <div class="row">
            @*<div class="col-md-9">

                </div>*@
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Online book shop WebApplication</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
