<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color: #f4f4f4;">
    <div class="nav clearfix">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/" class="navbar-brand text-muted logo">Online Book Shop</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang chủ", "", "Home")</li>
                    <li>@Html.ActionLink("Thể loại sách", "", "Home")</li>
                    <li>@Html.ActionLink("Thông tin", "", "Home")</li>
                </ul>
            </div>
            <div class="alert alert-success">Website bán sách</div>
        </div>
    </div>
    <div class="container body-content">

        <div class="row">
            <div class="col-md-9">
                @RenderBody()
            </div>
            <div class="col-md-3 ">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Danh ngôn mỗi ngày
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Thể loại
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Online book shop WebApplication</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
