@using OnlineBookShop.Core.Models
@{
    ViewBag.Title = "BookManagement";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    var list = (List<Book>)ViewBag.BookList;
}
<style>
    img {
        width: 80px;
        height: 80px;
    }
    a {
        margin: 1px;
    }
</style>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Bookid</th>
            <th scope="col">Image</th>
            <th scope="col">Book Name</th>
            <th scope="col">Link</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
            <th scope="col">IsDeleted</th>
        </tr>
    </thead>
    <tbody>
        @foreach( var item in list)
        {
        <tr style="@if (item.isDeleted == true || item.Quantity == 0 || item.status == "Hết hàng") { @Html.Raw("background-color:" +  "#f2dede")}">
            <th> @item.BookId </th>
            <td>
                <img src="~/Content/BookImage/@item.Image.Replace('-',' ')" class="thumbnail" alt="Alternate Text" />
            </td>
            <td> @item.Name</td>
            <td> <a href="@Request.Url.GetLeftPart(UriPartial.Authority)@item.Link/@item.Name.Replace(' ' , '-')">@Request.Url.GetLeftPart(UriPartial.Authority)@item.Link</a></td>
            <td> @item.Author</td>
            <td> @item.isDeleted</td>
            <td>
                <a class="btn btn-success" href="#">Update</a>
                @if (item.isDeleted == false)
                {
                    <a class="btn btn-danger" name="@item.BookId" href="@Url.Action("Delete","Admin",new { bookid = item.BookId.Trim()})">Delete</a>
                }
                else
                {
                    <a class="btn btn-success" name="@item.BookId" href="@Url.Action("Restore","Admin",new { bookid = item.BookId.Trim()})">Restore</a>
                }

            </td>
        </tr>
        }
    </tbody>
</table>
